apiVersion: v1
kind: Service
metadata:
  name: {{ .package.metadata.name }}-keycloak-headless
  labels:
    app.kubernetes.io/name: {{ .package.metadata.name }}
    app.kubernetes.io/instance: keycloak
  annotations:
    package-operator.run/phase: deploy
spec:
  ports:
  - name: https
    port: 443
    targetPort: 8443
  selector:
    app: keycloak
  type: ClusterIP
  clusterIP: None
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .package.metadata.name }}-keycloak
  labels:
    app.kubernetes.io/name: {{ .package.metadata.name }}
    app.kubernetes.io/instance: keycloak
  annotations:
    package-operator.run/phase: deploy
spec:
  ports:
  - name: https
    port: 443
    targetPort: https
  selector:
    app.kubernetes.io/name: {{ .package.metadata.name }}
    app.kubernetes.io/instance: keycloak
  type: ClusterIP
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .package.metadata.name }}-keycloak
  labels:
    app.kubernetes.io/name: {{ .package.metadata.name }}
    app.kubernetes.io/instance: keycloak
  annotations:
    package-operator.run/phase: deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .package.metadata.name }}
      app.kubernetes.io/instance: keycloak
  serviceName: {{ .package.metadata.name }}-keycloak-headless
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .package.metadata.name }}
        app.kubernetes.io/instance: keycloak
    spec:
      containers:
      - name: keycloak
        image: quay.io/keycloak/keycloak:26.2.5
        args: ["start"]
        volumeMounts:
        - name: certs
          mountPath: "/etc/certs"
          readOnly: true
        env:
        - name: KEYCLOAK_ADMIN
          value: "admin"
        - name: KEYCLOAK_ADMIN_PASSWORD
          value: "admin"
        - name: KC_PROXY
          value: "edge"
        - name: KC_HOSTNAME
          value: {{ .config.hostname }}
        - name: KC_DB
          value: postgres
        - name: KC_DB_URL
          value: "jdbc:postgresql://{{ .config.databaseHost }}/keycloak"
        - name: KC_DB_USERNAME
          valueFrom:
            secretKeyRef:
              name: {{ .config.databaseSecretName }}
              key: username
        - name: KC_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .config.databaseSecretName }}
              key: password
        - name: KC_HTTPS_CERTIFICATE_FILE
          value: "/etc/certs/tls.crt"
        - name: KC_HTTPS_CERTIFICATE_KEY_FILE
          value: "/etc/certs/tls.key"
        ports:
        - name: https
          containerPort: 8443
        readinessProbe:
          httpGet:
            scheme: HTTPS
            path: /realms/master
            port: 8443
          initialDelaySeconds: 20
          periodSeconds: 5
      volumes:
      - name: certs
        secret:
          secretName: auth-tls-secret